<!DOCTYPE html>
<html>
    <head>
        <title>jhlabs</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- jQuery -->
            <script src="/webjars/jquery/jquery.min.js"></script>
            <!-- Bootstrap -->
            <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
            <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
            <!-- Vue -->
            <script src="/webjars/vue/vue.min.js"></script>
    </head>
    <body>
        <div id="app" class="container">
            <h1>Filter</h1>
            <div class="row">
                <div class="col-md-6">
                    <form action="filter" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <select v-model="selectedFilter" class="form-control" name="name">
                                <option v-for="option in filters" v-bind:value="option">
                                    {{ option }}
                                </option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="file">Image</label>
                            <input type="file" class="form-control" name="file" required>
                        </div>

                        <div class="form-group">
                            <label for="output">Output</label>
                            <select class="form-control" name="output">
                                <option value="svg">SVG</option>
                                <option value="png" selected>PNG</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Gerar</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    filters: [],
                    selectedFilter: 'pointillize',
                },
                created() {
                    console.log("created")
                    fetch('/filters')
                        .then(response => response.json())
                        .then((data) => this.filters = data);
                },
                methods: {
                    fun: function() {
                        alert('ok');
                    },
                }
            })
        </script>

    </body>
</html>