<!DOCTYPE html>
<html>
<head>
    <title>Image filter - jhlabs - v0.1</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel='stylesheet' href='/webjars/vuetify/dist/vuetify.min.css'>
    <link rel='stylesheet' href='/webjars/mdi/css/materialdesignicons.min.css'>

</head>
<body>

<div id="app">
    <v-app>

        <v-form
                ref="form"
                v-model="valid"
        >
            <v-card
                    max-width="375"
                    class="mx-auto"
            >

                <v-card-title>Filter</v-card-title>
                <v-img
                        class="white--text align-end"
                        min-height="200px"
                        :src="image"
                >
                </v-img>


                <v-card-text>

                    <v-select v-model="selectedFilter" :items="filters" name="name" label="Name"  @input="changeFilter" required></v-select>

                    {{parameters}}

                    <v-tabs show-arrows>
                        <v-tab v-for="(args, method, index) in filterMethods"
                               :key="index"
                        >
                            <v-icon left>mdi-account</v-icon>
                            {{ method }}
                        </v-tab>

                    <v-tab-item v-for="(args, method, index) in filterMethods" :key="index">
                        <v-text-field v-model.sync="parameters[method][type]"  v-for="(type, arg, index) in args" :placeholder="type" v-on:keyup.enter="onEnter(method, type, arg, $event)"></v-text-field>
                    </v-tab-item>

                    </v-tabs>


                    <v-file-input v-model="selectedFile" label="Image" name="file" required
                                  accept="image/*"
                                  show-size

                    ></v-file-input>

                    <v-select v-model="selectedFormat" name="output" :items="formats" label="Format" required></v-select>

                </v-card-text>

                <v-card-actions>

                    <v-spacer></v-spacer>

                    <v-btn color="warning" @click="parameters=[]">Reset</v-btn>
                    <v-btn class="success" @click="submit">Apply</v-btn>

                </v-card-actions>

            </v-card>

        </v-form>

    </v-app>
</div>

<script src="/webjars/vue/vue.min.js"></script>
<script src="/webjars/vuetify/dist/vuetify.min.js"></script>

<script>
    new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
            filters: [],
            formats: ["png", "jpg", "gif"],
            selectedFilter: 'pointillize',
            selectedFormat: 'png',
            selectedFile: [],
            valid: false,
            image: false,
            filterMethods: [],
            parameters: [],
        },
        created() {
            fetch('/filters')
                .then(response => response.json())
                .then((data) => this.filters = data);
        },
        methods: {
            submit() {
                let self = this;
                const data = new FormData();
                data.append('name', this.selectedFilter);
                data.append('file', this.selectedFile);
                data.append('output', this.selectedFormat);
                console.log('param', this.parameters)
                for(let m of Object.keys(this.parameters)){
                    for(let param of Object.keys(this.parameters)) {
//                    data.append(param[0], param[1])
                    }
                }
                let body = {
                    method: 'post',
                    body: data,
                    headers: {"enc-type": "multipart/form-data"}
                };
                fetch('filter', body)
                    .then(resp => resp.blob())
                    .then(blob => URL.createObjectURL(blob))
                    .then(function (uri) {
                        console.log(uri)
                        self.image = uri;
                    })
            },
            changeFilter(filterName){
                console.log('changeFilter', arguments)
                fetch(`/filterParams?filterClass=${filterName}`)
                    .then(response => response.json())
                    .then((data) => {
                        this.filterMethods = data;

                        for(let m of Object.keys(this.filterMethods) ) {
                            let args = this.filterMethods[m]
                            for(let a of Object.keys(args) ){
                                console.log(m, a, args[a])
                                this.parameters[m] = {}
                                this.parameters[m][args[a]]= ''
                            }
                        }
                        console.log(this.parameters)

                    });
            },
            onEnter(method, type, arg, evt){
                let val = evt.target.value
                console.log('onEnter1', method, type, arg, val)
                console.log(this.parameters)
                /*
                let param = {}
                param[method]=val
                console.log('param', param)
                this.parameters.push(param);
                 */
            }
        }
    })
</script>

</body>
</html>